<footer class="site-footer">

  <div class="wrapper">

    <div class="footer-col-wrapper">
      <span class="footer-message">All Content copyright 2016 </span>

    <div class="Social-container">
     <ul>
       <li>
         <a href="http://twitter.com/shir_ee_sha">twitter</a>
       </li>
       <li>

         <a href="https://in.linkedin.com/in/shireeshaps">linkedin</a>
       </li>
       <li>
         <a href="https://github.com/shireesha1990">github</a>
       </li>
     </ul>
    </div>
    </div>
  </div>

</footer>
